@import "./styles/variables.scss";
@import "./styles/mixin.scss";



* {
  box-sizing: border-box;
}

body {
  background: $primary-color;
  color: #fff;
  margin: 0;
  height: 100%;
  font-family: Arial, sans-serif, Helvetica;
  line-height: 1.5;
  @include background;
}

h1, h2, h3 {
  margin: 0;
  font-weight: 400;
}

a {
  color: #fff;
  text-decoration: none;

}