@import '../../styles/variables.scss';
@import '../../styles/mixin.scss';

.lg-heading {
    font-size: 5rem;
  }
.sm-heading {
    margin-bottom: 2rem;
    padding: 0.2rem 1rem;
    background: rgba(lighten($primary-color,2),0.5);
  }
.header-main {
  position: fixed;
  z-index: 2;
  width: 100%;
 }
.text-secondary {
  color:$secondary-color;
}
.main-info {
  padding: 4rem;
  height: 100%;
  .icons {
    margin-top: 1rem;
    a {
      padding: 0.4rem;
      &:hover {
        color:$secondary-color;
        @include easeOut;

      }
    }
  }
  &#home {
    overflow: hidden;
    h1 {
      margin-top: 20vh;
    }
  }
}