@import './variables.scss';

@mixin easeOut {transition: all 0.5s ease-out};
@mixin background {
  @if $show-home-image{
    &#bg-image {
      background: $home-image,;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);

      }
    }
  }
}

@mixin easeOut {transition: all 0.5s ease-out};
@mixin backgroundAbout {
  @if $show-about-image{
    &#bg-about {
      background: $about-image,;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);

      }
    }
  }
}
@mixin easeOut {transition: all 0.5s ease-out};
@mixin backgroundWork {
  @if $show-work-image{
    &#bg-work {
      background: $work-image,;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);

      }
    }
  }
}
@mixin easeOut {transition: all 0.5s ease-out};
@mixin backgroundContact {
  @if $show-contact-image{
    &#bg-contact {
      background: $contact-image,;
      background-attachment: fixed;
      background-size: cover;

      &:after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba($primary-color, $background-opacity);

      }
    }
  }
}