
$primary-color: #444;
$secondary-color: #eece1a;
$show-home-image: true;
$home-image: url('../../assets/portfolio/img/background.png');
$background-opacity: 0.8;
$about-image: url('../../assets/portfolio/img/aboutMe.jpg');
$show-about-image: true;
$work-image: url('../../assets/portfolio/img/workBackground.png');
$show-work-image: true;